html{
    background-color: black;
}

img{
    border: 5px solid white;
    width: 100%;
}

h1{
    text-transform: capitalize;
    font-size: 2rem;
}

.poster{
    width: 50%;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    margin-left: 25%;
    color: white;
    margin-top: 100px;
}
